body {
    padding: 0 !important;
    margin: 0 !important;
    font-family: Open Sans, Arial, Helvetica, sans-serif !important;
    background-color: var(--body-background) !important;
    color: #262626 !important;
    font-size: var(--body-fontsize) !important;
}