// .choose-question-model .modal-dialog {
//     max-width: 100% !important;
//     width: 1000px !important;
// }

.choose-question-model {
    .modal-dialog {
        width: 100%;
    }

    @media (min-width: 576px) {
        .modal-dialog {
            max-width: 540px;
        }
    }

    @media (min-width: 768px) {
        .modal-dialog {
            max-width: 720px;
        }
    }

    @media (min-width: 992px) {
        .modal-dialog {
            max-width: 960px;
        }
    }

    @media (min-width: 1200px) {
        .modal-dialog {
            max-width: 1300px;
        }
    }

    .text-line {
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
    }
}
