<div class="page-topbar {{appSetting.MenuFolded ? 'sidebar_shift' : ''}} {{appSetting.chatFolded ? 'chat_shift' : ''}}">
    <div class='logo-area'>
        <a routerLink="/main">
            <!-- <span class="{{appSetting.MenuFolded ?  'company-title-small' :'company-title-big'}}">TT-ĐLMB</span> -->
            <img src="/assets/img/logo.png" class="{{appSetting.MenuFolded ?  'img-fluid-small' :'img-fluid'}}" />
        </a>
    </div>
    <div class='quick-area'>
        <div class='pull-left slantit'>
            <ul class="info-menu left-links list-inline list-unstyled">
                <li class="sidebar-toggle-wrap">
                    <a href="javascript:;" data-toggle="sidebar" class="sidebar_toggle" (click)="menuChatToggle('menu')">
                        <i class="material-icons notranslate">menu</i>
                    </a>
                </li>
            </ul>
        </div>
        <div class="pull-left pagetitle">
            <h1 class="softwarename" >PHẦN MỀM QUẢN LÝ ĐÀO TẠO TRỰC TUYẾN</h1>
            <!-- Phần mềm Quản lý Đo lường miền bắc -->
            <div class="div-functionname">
                <h1  class="functionname"  [innerHTML]="appSetting.PageTitle"></h1>
            </div>
        </div>        
        <div class='pull-right quickright'>
            <ul class="info-menu right-links list-inline list-unstyled">
                <li class="profile tab list-inline-item" placement="bottom-right" ngbDropdown>
                    <a href="javascript:;" class="dropdown-toggle toggle" ngbDropdownToggle>
                        <span class="profile-name">{{fullName}}</span>
                        <img [src]="linkImage?linkImage:'/assets/img/noavatar.png'" alt="user-image" class="rounded-circle img-inline">
                        <span class="profile-status available"></span>
                    </a>                    
                    <ul class="profile-menu" ngbDropdownMenu>
                        <li class="dropdown-item">
                            <a href="javascript:;" (click)="updateUser()" >
                                <i class="material-icons notranslate">person</i> {{fullName}}
                            </a>
                        </li>
                        <li class="dropdown-item">
                            <a href="javascript:;" (click)="fnChangePassword()">
                                <i class="material-icons notranslate">lock</i> Đổi mật khẩu
                            </a>
                        </li>
                        <li class="dropdown-item">
                            <a href="javascript:;" (click)="logout()">
                                <i class="material-icons notranslate">exit_to_app</i> Đăng xuất
                            </a>
                        </li>
                    </ul>
                </li>
                <!-- <li class="list-inline-item notify">
                    <a href="javascript:;" class="toggle_notify" (click)="showNotify()">
                        <i class="material-icons notranslate">notifications</i>
                        <span  class="badge badge-danger">1</span>
                    </a>
                </li> -->
                <li class="list-inline-item notify">
                    <a href="javascript:;" class="toggle_notify" (click)="showTheme()">
                        <i class="material-icons notranslate">settings</i>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>