<footer class="ftco-footer ftco-bg-dark">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-lg-4">
                <div class="ftco-footer-widget">
                    <h2 class="ftco-heading-2">Thông tin liên hệ</h2>
                    <div class="block-23 mb-3">
                        <ul>
                            <li><span class="icon fas fa-map-marker-alt"></span><span class="text">{{model.address}}</span></li>
                            <li><span class="icon fas fa-phone-alt"></span><span class="text">{{model.phone}}</span></li>
                            <li><span class="icon far fa-envelope"></span><span class="text">{{model.gmail}}</span></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-5">
                <div class="ftco-footer-widget">
                    <h2 class="ftco-heading-2">Khóa học tiêu biểu</h2>
                    <div class="block-21 d-flex" *ngIf="modelCourse.listEmployeeName.length > 0">
                        <img class="blog-img mr-4" [src]="modelCourse.imagePath==null || modelCourse.imagePath=='' ? '/assets/img/noavatar.gif':config.ServerApi + modelCourse.imagePath">
                        <div class="text">
                            <h3 class="heading"><a [href]="['#/chi-tiet-khoa-hoc/'+modelCourse.slug]">{{modelCourse.name}}</a></h3>
                            <div class="meta">
                                <div>
                                    <p><span class="fas fa-calendar-alt"></span> {{modelCourse.startDate|date:'dd/MM/yyyy'}}
                                    </p>
                                </div>
                                <div>
                                    <p><span class="fas fa-user" *ngIf="modelCourse.listEmployeeName.length>0"></span> {{modelCourse.listEmployeeName[0]}}
                                    </p>
                                    <p><span class="fas fa-user" *ngIf="modelCourse.listEmployeeName.length==0"></span>
                                    </p>
                                </div>
                                <div>
                                    <p><span class="fas fa-comment"></span> {{modelCourse.numberOfComment}}</p>
                                </div>
                            </div>
                            <div>
                                <p class="text1">{{modelCourse.description}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3">
                <div class="ftco-footer-widget">
                    <h2 class="ftco-heading-2 mb-0">Kết nối với chúng tôi</h2>
                    <ul class="ftco-footer-social list-unstyled float-md-left float-lft mt-3">
                        <li class="ftco-animate fadeInUp ftco-animated"><a target="_blank" href="{{model.linkYoutube}}"><span
                                    class="fab fa-youtube"></span></a></li>
                        <li class="ftco-animate fadeInUp ftco-animated"><a target="_blank" href="{{model.linkFacebook}}"><span
                                    class="fab fa-facebook-f"></span></a></li>
                        <li class="ftco-animate fadeInUp ftco-animated"><a target="_blank" href="{{model.linkGoogle}}"><span
                                    class="fab fa-google-plus-g"></span></a></li>
                        <!-- <li class="ftco-animate fadeInUp ftco-animated"><a href="#"><span
                                    class="fas fa-headphones-alt"></span></a></li> -->
                    </ul>
                </div>
            </div>
        </div>
        <div class="row" style="margin-top: 5px;">
            <div class="col-md-12 text-center">
                <p>
                    {{model.copyright}}
                </p>
            </div>
        </div>
    </div>
</footer>