<div class='content-wrapper'>
    <section class="box">
        <div class="content-body">
            <div class="row">
                <div class="col-xl-12">
                    <div class="about-header d-flex align-items-center">
                        <img src="/assets/img/logo-nts.png" />
                        <h1 class="ml-3">Phần mềm Quản lý Đào Tạo Trực Tuyến</h1>
                    </div>

                    <p>Version: 1.4.0</p>
                    <p>Ngày cập nhật: 03/11/2020</p>
                    <p>Phát triển bởi: <span>Công ty Cổ phần Công nghệ Nhân Tín</span></p>
                    <p>Trụ sở: <span>Số 3 ngõ 87, Nguyễn Văn Trỗi, Phương Liệt, Thanh Xuân Hà Nội</span></p>
                    <p>Website: <a href="http://nhantinsoft.vn/" target="_blank">nhantinsoft.vn</a></p>
                </div>
            </div>
        </div>
    </section>
</div>