
.roww{
    display: flex;
    width: 98%;
}

.nameTitle{
    width: 70%;
}
.buttonIcon{
    width: 30%;
}

.ant-select-tree .ant-select-tree-treenode {
    padding: 0 0 0;
}

.ant-select-dropdown {
    line-height: 0;
}