.reset-password-model .modal-dialog{
  max-width: 100% !important;
  width: 400px !important;
}

app-reset-password{
  
    p {
        font-family: Lato;
      }
      .error-message {
        color: red;
      }
      input.ng-touched.ng-invalid {
        border: 1px solid red;
      }
      .show-password{
        float: right;
        margin-top: -33px;
        z-index: 2px;
    }
}