app-notify-list {
    .notify-list {
        height: 100%;
        z-index: 1050;
        // width: 0px;
        top: 0px;
        background-color: #fff;
        position: fixed;
        right: 0px;
        box-shadow:  0px 0px 2px 0 rgba(0, 0, 0, 0.19);

        .notify-header {
            border-bottom: 1px solid #dee2e6;
            height: 60px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 10px;

            h4 {
                margin: 0px;
            }
        }
    }
}
