app-topbar {
    .material-icons.md-blue {
        color: #0056ac;
    }
    .img-fluid {
        max-height: 55px;
    }
    .img-fluid-small {
        max-height: 35px;
    }
    .sidebar_shift .img-fluid {
        margin-top: 10px;
    }
    .page-topbar .logo-area {
        text-align: center;
    }
    .dropdown-item:active a {
        color: #ffffff !important;
    }
    .google-social {
        background: url(../../../assets/img/google-39.png) no-repeat;
    }
    .btn-my-course {
        background: #fff;
        border: 1px solid #fd5f00;
    }
    .call {
        color: rgba(0, 0, 0, 0.7);
    }
    .call:hover {
        font-weight: bolder;
        color: rgba(0, 0, 0, 0.7);
        text-decoration: none;
    }
    .dropdown-item {
        position: relative;
        z-index: 2;
    }
    .dropdown-item>a {
        font-size: 15px;
        display: flex;
        align-items: center;
        width: auto;
        text-decoration: none;
        position: relative;
    }
    .dropdown-item>a>i {
        font-size: inherit;
        margin-right: 10px;
    }
    .headerheight {
        height: 70px;
    }
    @media (min-width: 576px) {
        .header {
            // position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 70px;
            z-index: 15;
            //background: #eeeeee;
            background: #fff;
            // -webkit-box-shadow: 0 1px 5px #d4cece;
            // -moz-box-shadow: 0 1px 5px#d4cece;
            // box-shadow: 0 1px 5px #d4cece;
        }
    }
    @media (min-width: 768px) {
        .header {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 70px;
            z-index: 15;
            //background: #eeeeee;
            background: #fff;
            -webkit-box-shadow: 0 1px 5px #d4cece;
            -moz-box-shadow: 0 1px 5px #d4cece;
            box-shadow: 0 1px 5px #d4cece;
        }
    }
    @media (min-width: 992px) {
        .header {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 70px;
            z-index: 15;
            //background: #eeeeee;
            background: #fff;
            -webkit-box-shadow: 0 1px 5px #d4cece;
            -moz-box-shadow: 0 1px 5px #d4cece;
            box-shadow: 0 1px 5px #d4cece;
        }
    }
    @media (min-width: 1200px) {
        .header {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 70px;
            z-index: 15;
            //background: #eeeeee;
            background: #fff;
            -webkit-box-shadow: 0 1px 5px #d4cece;
            -moz-box-shadow: 0 1px 5px #d4cece;
            box-shadow: 0 1px 5px #d4cece;
        }
    }
}