<div class="modal-header">
    <h4 class="modal-title text-uppercase">{{modalInfo.Title}}</h4>
    <a href="javascript:;" style="outline: none; color: white" (click)="closeModal(true)">
        <i class="fa fa-close"></i>
    </a>
</div>
<form [formGroup]="loginForm" >
    <div class="modal-body">
        <div class="row">
            <div class="col-md-12 col-lg-12 col-sm-12 col-xl-12">
                <div class="form-group ">
                    <label class="form-label">Bạn có muốn tự động tạo mật khẩu
                        <span class='text-danger text-strong'>&nbsp;*</span>
                    </label> <br>
                    <label class="radio"> Có
                        <input [ngModelOptions]="{standalone: true}" type="radio" [(ngModel)]="isPassword" required [value]="true">
                        <span class="checkround"></span>
                    </label>&nbsp;
                    <label class="radio">Không
                        <input [ngModelOptions]="{standalone: true}" type="radio" [(ngModel)]="isPassword" required [value]="false">
                        <span class="checkround"></span>
                    </label>
                </div>
            </div>

            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" *ngIf="isPassword == false">
                <div class="form-group ">
                    <label class="form-label">Mật khẩu
                        <span class='text-danger text-strong'>&nbsp;*</span>
                    </label>
                    <div class="controls">
                        <div class="input-group">
                            <input [type]="fieldTextType ? 'text' : 'password'" class="form-control" formControlName="password"
                                [(ngModel)]="model.passwordHash" maxlength="32" required>
                                <div class="input-group-append">
                                    <i class="fa" style="padding-top: 12px" [ngClass]="{
                                        'fa-eye-slash': !fieldTextType,
                                        'fa-eye': fieldTextType
                                      }" (click)="toggleFieldTextType()"></i>
                                  </div>
                        </div>
                    </div>
                    <div class="error-messages">
                        <ng-container *ngFor="let error of error_messages.password">
                            <div class="error-message" *ngIf="loginForm.get('password').hasError(error.type) && (loginForm.get('password').dirty || loginForm.get('password').touched)">
                                {{ error.message }}
                            </div>
                        </ng-container>
                    </div>
                </div>
            </div>

            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" *ngIf="isPassword == false">
                <div class="form-group ">
                    <label class="form-label">Xác nhận mật khẩu
                        <span class='text-danger text-strong'>&nbsp;*</span>
                    </label>
                    <div class="controls">
                        <div class="input-group">
                            <input [type]="fieldReTextType ? 'text' : 'password'" class="form-control" formControlName="confirmpassword"
                                [(ngModel)]="changePassword" maxlength="32" required>
                            <div class="input-group-append">
                                <i class="fa" style="padding-top: 12px" [ngClass]="{
                                        'fa-eye-slash': !fieldReTextType,
                                        'fa-eye': fieldReTextType
                                      }" (click)="toggleReFieldTextType()"></i>
                            </div>
                        </div>
                    </div>
                    <div class="error-messages">
                        <ng-container *ngFor="let error of error_messages.confirmpassword">
                            <div class="error-message" *ngIf="loginForm.get('confirmpassword').hasError(error.type) && (loginForm.get('confirmpassword').dirty || loginForm.get('confirmpassword').touched)">
                                {{ error.message }}
                            </div>
                        </ng-container>
                    </div>
                </div>
            </div>
            <pre>
                {{ message}}
              </pre>
        </div>
    </div>
    <!-- Footer -->
    <div class="modal-footer">
        <ng-container>
            <button [disabled]="!loginForm.valid && isPassword == false" type="button" class="btn btn-success" (click)="save()">
                <i class="fa fa-save"></i>&nbsp;
                <span>Lưu</span>
            </button>
        </ng-container>
        <button type="button" class="btn btn-danger" (click)="closeModal(false)">
            <i class="fa fa-power-off"></i> &nbsp;
            <span>
                Đóng
            </span>
        </button>
    </div>
</form>