<div class="modal-header">
  <h4 class="modal-title text-uppercase">{{modalInfo.Title}}</h4>
  <a href="javascript:;" style="outline: none; color: white" (click)="closeModal(false)">
    <i class="fa fa-close"></i>
  </a>
</div>
<form name="form" #f="ngForm" novalidate>
  <div class="modal-body">
    <div class="row">
      <div class="col-md-3 col-lg-3 col-sm-12 col-xl-3">
        <div class="actions panel_actions">
          <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 text-center">
              <label class="form-label font-weight-bold">Ảnh đại diện
              </label>
            </div>
          </div>
        </div>
        <img class="img-thumbnail"
          [src]="fileProcess.fileModel.DataURL?fileProcess.fileModel.DataURL: (filedata?filedata:'/assets/img/noavatar.gif')">
        <span *ngIf="(model.avatar != null && model.avatar != '' )|| fileProcess.fileModel.DataURL != null"
          class="btndelte" (click)='showComfirmDeleteFile(model.avatar)' ngbTooltip="Xóa ảnh"><i
            class="far fa-times-circle"></i></span>
        <div class="col-lg-12 col-md-12 col-sm-12 text-center mt-2">
          <i class="box_toggle material-icons actions-camera btn-file padding-top-5" ngbTooltip="Thay ảnh">
            photo_camera
            <input type="file" id="fileInput" #fileInput accept="image/*" (change)="onFileChange($event)" />
          </i>
        </div>
      </div>

      <div class="col-md-9 col-lg-9 col-sm-12 col-xl-9">
        <div class="row">

          <div class="col-lg-6 col-md-12 col-sm-12 col-xs-6">
            <div class="form-group ">
              <label class="form-label">Họ và tên
                <span class='text-danger text-strong'>&nbsp;*</span>
              </label>
              <div class="controls">
                <input type="text" class="form-control" name="Name" [(ngModel)]="model.name" maxlength="100" required>
              </div>
            </div>
          </div>

          <div class="col-lg-6 col-md-12 col-sm-12 col-xs-6">
            <div class="form-group ">
              <label class="form-label">Ngày sinh
                <span class='text-danger text-strong'>&nbsp;</span>
              </label>
              <div class="input-group">
                <input class="form-control" placeholder="dd/mm/yyyy" name="DateOfBirth" [(ngModel)]="dateOfBirth"
                  ngbDatepicker #DateOfBirth="ngbDatepicker" [minDate]="minDateNotificationV">
                <div class="input-group-append">
                  <span class="input-group-text pointer" (click)="DateOfBirth.toggle(); $event.stopPropagation();"
                    name="DateOfBirth">
                    <i class="far fa-calendar-alt" style="color: #999;"></i>
                  </span>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 radio">
            <div class="form-group ">
              <label class="form-label">Giới tính
                <span class='text-danger text-strong'>&nbsp;*</span>
              </label>
              <div class="controls">
                <div class="custom-control custom-radio custom-control-inline">
                  <input type="radio" id="customRadioInline1" [(ngModel)]="model.gender" required name="gender"
                    [value]='false' class="custom-control-input">
                  <label class="custom-control-label" for="customRadioInline1">Nam</label>
                </div>
                <div class="custom-control custom-radio custom-control-inline">
                  <input type="radio" id="customRadioInline2" [(ngModel)]="model.gender" required name="gender"
                    [value]='true' class="custom-control-input">
                  <label class="custom-control-label" for="customRadioInline2">Nữ</label>
                </div>
              </div>
            </div>
          </div>


          <div class="col-lg-6 col-md-12 col-sm-12 col-xs-6">
            <div class="form-group ">
              <label class="form-label">Địa chỉ
                <span class='text-danger text-strong'></span>
              </label>
              <div class="controls">
                <input type="text" class="form-control" name="Address" [(ngModel)]="model.address" maxlength="500">
              </div>
            </div>
          </div>

          <div class="col-lg-6 col-md-12 col-sm-12 col-xs-6">
            <div class="form-group ">
              <label class="form-label">Email
                <span class='text-danger text-strong'>&nbsp; *</span>
              </label>
              <div class="controls">
                <input placeholder="name@example.com" [disabled]="model.id != null" required type="email"
                  class="form-control" [(ngModel)]="model.email" name="email" maxlength="300">
              </div>
            </div>
          </div>

          <div class="col-lg-6 col-md-12 col-sm-12 col-xs-6">
            <div class="form-group ">
              <label class="form-label">Số điện thoại
                <span class='text-danger text-strong'></span>
              </label>
              <div class="controls">
                <input type="text" class="form-control" name="PhoneNumber" [(ngModel)]="model.phoneNumber"
                  maxlength="50" ntsNumberInt>
              </div>
            </div>
          </div>

          <div class="col-lg-6 col-md-12 col-sm-12 col-xs-6">
            <div class="form-group ">
              <label class="form-label">Nơi làm việc
                <span class='text-danger text-strong'></span>
              </label>
              <div class="controls">
                <input type="text" class="form-control" name="workUnit" [(ngModel)]="model.workUnit" maxlength="500">
              </div>
            </div>
          </div>

          <div class="col-lg-6 col-md-12 col-sm-12 col-xs-6">
            <div class="form-group ">
              <label class="form-label">Mô tả
                <span class='text-danger text-strong'></span>
              </label>
              <div class="controls">
                <textarea type="text" class="form-control" name="Description" [(ngModel)]="model.description"
                  maxlength="500"> </textarea>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
  <!-- Footer -->
  <div class="modal-footer">
    <ng-container>
      <button type="button" class="btn btn-success" [disabled]="!f.form.valid" (click)="save(false)">
        <i class="fa fa-save"></i>&nbsp;
        <span>Lưu</span>
      </button>
    </ng-container>
    <button type="button" class="btn btn-danger" (click)="closeModal(false)">
      <i class="fa fa-power-off"></i> &nbsp;
      <span>
        Đóng
      </span>
    </button>
  </div>
</form>