.change-password-model .modal-dialog{
    max-width: 100% !important;
    width: 300px !important;
}
app-change-password{

    .signupforms .light-hight-left {
        min-width: 43%!important;
        border-top: 1px solid #a9a9a9;
        margin-top: 12px;
        float: left;
    }
    .signupforms .or-txt {
        width: 10%;
        float: left;
        text-align: center;
        color: #303030;
    }
    .signupforms .light-hight-right {
        min-width: 43%!important;
        border-top: 1px solid #a9a9a9;
        margin-top: 12px;
        float: right;
    }

    .signupforms input {
        border: 1px solid #e2e2e2;
    }
    .clear-both {
        clear: both;
    }
    .signupforms input {
        display: table-cell;
        position: relative;
        z-index: 2;
        float: left;
        width: 100%;
        margin-bottom: 0;
        height: 34px;
        padding: 6px 12px;
        font-size: 14px;
        line-height: 1.42857143;
        color: #555;
        background-color: #fff;
        border: 1px solid #9f978e;
        border-radius: 4px;
    }
    .signupforms input.error {
        border: 1px solid #a94442;
    }
    .signupforms .error {
        color: #a94442;
    }

    .signupforms .register-btn {
        font-size: 14px;
        height: auto;
        background: #03a9f4;
        line-height: 34px;
        border-radius: 5px;
        color: #FFF;
        text-align: center;
        padding: 0;
        cursor: pointer;
        // text-transform: uppercase;
        font-weight: bold;
        border: none;
    }
}