<div class="modal-header">
    <div style="font-weight: bold;">QUÊN MẬT KHẨU</div>
    <a style="color: brown" type="button" class="close" aria-label="Close" (click)="closeModal()">
        <span aria-hidden="true">&times;</span>
    </a>
</div>
<div class="modal-body">
    <form name="form" class="form-validation signupforms" (ngSubmit)="f.form.valid" #f="ngForm" novalidate>
        <input type="hidden" name="a" value="" id="a">
        <div class="title-signup">Email
            <span style="color: red;">*</span>
        </div>

        <div class="row-signup mg40">
            <input placeholder="name@example.com" type="email" name="email" [(ngModel)]="model.email" #email="ngModel"
                required aria-required="true" aria-invalid="false" class="valid">
        </div>
        <div class="clear-both"></div>
        <div class="row-signup mg30" style="margin-top: 20px;">
            <button [disabled]="!f.form.valid" (click)="send()"
                class="btn btn-accent btn-block submit register-btn">Gửi</button>
        </div>
    </form>
</div>
<div class="modal-footer"></div>